:root {
  --main-color: #48d1d3;
  --main-color-80: #48d1d380;
  --main-color-15: #48d1d315;
  --black-color-10: #00000010;
  --green-color: #46d277;
  --red-color: #d24946;
}

body {
  overflow: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  font-size: 0.8rem;
  text-decoration: none;
}

input {
  margin: 0;
  padding: 0;
  border-radius: 0;
  border: none;
  background: none;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  outline: none;
}

@media screen and (min-width: 769px) {
  ::-webkit-scrollbar {
    width: 4px;
  }

  ::-webkit-scrollbar-track {
    background-color: #333;
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--main-color-80);
    border-radius: 4px;
  }
}

.font_main {
  color: var(--main-color);
}

.font_red {
  color: var(--red-color);
}

.font_green {
  color: var(--green-color);
}

.section {
  background-color: var(--black-color-10);
  border: 2px solid var(--main-color);
}

.active {
  opacity: 0.8;
}

.active:hover {
  opacity: 1;
}

.selected {
  opacity: 1;
}
