:root {
  --main-color: #2ac8ff;
  --main-color-80: #2ac8ff80;
  --main-color-15: #2ac8ff15;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: var(--main-color);
  font-family: "Orbitron", sans-serif;
  font-size: 0.8rem;
  text-decoration: none;
}

input {
  margin: 0;
  padding: 0;
  border-radius: 0;
  border: none;
  background: none;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  outline: none;
}

@media screen and (min-width: 769px) {
  ::-webkit-scrollbar {
    width: 4px;
  }

  ::-webkit-scrollbar-track {
    background-color: #333;
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--main-color-80);
    border-radius: 4px;
  }
}

.section {
  background-color: var(--main-color-15);
  border-top: 1px solid var(--main-color-80);
  border-bottom: 1px solid var(--main-color-80);
}

.active {
  opacity: 0.8;
}

.active:hover {
  opacity: 1;
}

.selected {
  opacity: 1;
}
